@using ITechArt.Surveys.DomainModel
@model SurveyViewModel

@{
    ViewData["Title"] = "Create survey";
}

@section Scripts
{
    <script src="~/js/createSurvey.js" asp-append-version="true"></script>
}

<link rel="stylesheet" href="~/css/createSurvey.css"/>

<form asp-controller="Survey" asp-action="CreateSurvey" method="post">
    <div class="survey-info">
        <div class="name">
            @Html.TextBoxFor(m => m.Name, new { placeholder = "Survey name" })
        </div>
        <div>
            Questions: <span id="questions-counter">0</span>
        </div>
    </div>
    <div class="wrapper">
        <div class="center">
            <div class="save-discard-buttons">
                <button type="submit" class="btn btn-outline-primary">Save</button>
                <a asp-controller="Home" asp-action="Index" class="btn btn-outline-danger">Discard</a>
            </div>
            <div class="survey-content" id="survey-content">


                <div class="question text-question">
                    <div class="question-title">
                        1. @Html.TextBoxFor(x => @Model.Questions.ElementAt(0).Title)
                    </div>
                    <div class="question-description">
                        @Html.TextBoxFor(x => @Model.Questions.ElementAt(0).Description)
                    </div>
                    @{
                        Model.Questions.ElementAt(0).Order = 1;
                        Model.Questions.ElementAt(0).Type = QuestionType.Text;
                    }
                </div>


            </div>
        </div>
        <div class="questions-menu" id="questions-menu">
            <div class="btn btn-outline-secondary" id="create-text-question">Text</div>
        </div>
    </div>
</form>
