@{
    ViewData["Title"] = "Login";
}

@* <div class="text-center"> *@
@*     <h1 class="display-4">Login</h1> *@
@*     <p>Please enter your data to sign in</p> *@
@* </div> *@

@model RegistrationViewModel

<div>РЕГИСТРАЦИЯ</div>
<form action="/User/Registration" method="post">
    <div>
        Имя пользователя: @Html.TextBoxFor(m => m.UserName)
        @Html.ValidationMessageFor(m => m.UserName)
    </div>
    <div>
        Email: @Html.TextBoxFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div>
        Пароль: @Html.PasswordFor(m => m.Password)
        <div>@Html.ValidationMessageFor(m => m.Password)</div>
    </div>
    <div>
        <input type="submit" value="Зарегистрироваться"/>
    </div>
</form>
