@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor _contextAccessor

@model UserTableViewModel

@{
    ViewData["Title"] = "Users";
}

<link rel="stylesheet" href="~/css/userTable.css"/>

<h1>@ViewData["Title"]</h1>

<div class="user-table">
    <span class="align-left">
        <strong>Name</strong>
    </span>
    <span>
        <strong>Role</strong>
    </span>
    <span>
        <strong>Registrated</strong>
    </span>
    <span>
        <strong>Actions</strong>
    </span>
    @{
        var currentUserName = _contextAccessor.HttpContext?.User.Identity?.Name;
        @foreach (var user in Model.Users)
        {
            <span class="align-left">@user.Name</span>
            <span>@user.Role</span>
            <span>@user.RegistrationDate.Date.ToShortDateString()</span>
            if (user.Name != null && user.Name != currentUserName)
            {
                <span>
                    <a href="/User/DeleteUser?id=@user.Id">
                        <span class="material-icons-outlined">delete</span>
                    </a>
                </span>
            }
            else
            {
                <span class="cannot-delete">
                    <span class="material-icons-outlined">delete_forever</span>
                </span>
            }
        }
    }
</div>

<div class="navbar-for-table">
    <div class="users-counter">
        Total users: @Model.TotalUsersAmount
    </div>
    <div class="flip-pages-arrows">
        @if (Model.Page != 1)
        {
            <a href="/User/UserTable?page=1">
                <span class="material-icons-outlined">keyboard_double_arrow_left</span>
            </a>
            <a href="/User/UserTable?page=@(Model.Page - 1)">
                <span class="material-icons-outlined">keyboard_arrow_left</span>
            </a>
        }
        <span>@Model.Page</span>
        @if (Model.Page != Model.TotalUsersAmount / 5 + 1)
        {
            <a href="/User/UserTable?page=@(Model.Page + 1)">
                <span class="material-icons-outlined">keyboard_arrow_right</span>
            </a>
            <a href="/User/UserTable?page=@(Model.TotalUsersAmount / 5 + 1)">
                <span class="material-icons-outlined">keyboard_double_arrow_right</span>
            </a>
        }
    </div>
</div>
